---
layout: default
---

<main id="content" class="content" role="main">

  <div class="extra-pagination inner">
    <nav class="pagination" role="navigation">
      {% if paginator.previous_page %}
        <a class="newer-posts" href="{{ paginator.previous_page_path }}">&larr; Neuere Beitr&auml;ge</a>
      {% endif %}
      <span class="page-number">Seite {{ paginator.page }} von {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
        <a class="older-posts" href="{{ paginator.next_page_path }}">&Auml;ltere Beitr&auml;ge &rarr;</a>
      {% endif %}
    </nav>
  </div>

  {% for post in paginator.posts %}
  <article class="post">
    <header class="post-header">
      <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
    </header>
    <section class="post-excerpt">
      <p>{{ post.excerpt }}<a class="read-more" href="{{ post.url }}">weiterlesen&nbsp;&raquo;</a></p>
    </section>
    <footer class="post-meta">
      <img class="author-thumb" src="https://s.gravatar.com/avatar/ce15da66a37ccd143de83061f68f90c1?d=404&amp;s=250" alt="Author image" nopin="nopin" />
      <a href="#">Hauke</a> in
          {% for tag in post.tags %}
          <a href="/tag/{{ tag }}/">{{ tag }}</a>{% if tag != page.tags.last %}, {% endif %}
          {% endfor %}
      <time class="post-date" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%d.%B %Y"  }}</time>
    </footer>
  </article>
  {% endfor %}

  <nav class="pagination" role="navigation">
    {% if paginator.previous_page %}
      <a class="newer-posts" href="{{ paginator.previous_page_path }}">&larr; Neuere Beitr&auml;ge</a>
    {% endif %}
    <span class="page-number">Seite {{ paginator.page }} von {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a class="older-posts" href="{{ paginator.next_page_path }}" class="next">&Auml;ltere Beitr&auml;ge &rarr;</a>
    {% endif %}
  </nav>

</main>
