<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />

      <title>{{ page.title }} - {{ site.title }}</title>
      <meta name="description" content="" />

      <meta name="HandheldFriendly" content="True" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <link rel="shortcut icon" href="/favicon.ico">

      <link rel="stylesheet" type="text/css" href="/css/main.css" />

      <script src="https://use.fontawesome.com/71afee61e5.js"></script>

      <link rel="canonical" href="{{ page.url }}" />
      <meta name="referrer" content="origin" />

      <meta property="og:site_name" content="{{ site.title }}" />
      <meta property="og:type" content="website" />
      <meta property="og:title" content="{{ page.title }} - {{ site.title }}" />
      <meta property="og:url" content="{{ site.url }}/{{ page.url }}" />

      <meta name="twitter:card" content="summary" />
      <meta name="twitter:title" content="{{ page.title }} -{{ site.title }}" />
      <meta name="twitter:url" content="{{ site.url }}/{{ page.url }}" />

      <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Series",
          "publisher": "{{ site.title }}",
          "url": "{{ site.url }}/{{ page.url }}",
          "name": "{{ page.title }}"
        }
      </script>

      <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/rss/" />
    </head>
    <body class="tag-templatee">
      {% include social-links.html %}
      <header class="main-header tag-head no-cover">
        <nav class="main-nav overlay clearfix">
          <a class="back-button" href="/"><i class="fa fa-chevron-left"></i>&nbsp;Home</a>
          <a class="subscribe-button" href="/rss/"><i class="fa fa-rss"></i>&nbsp;Abonnieren</a>
        </nav>
        <div class="vertical">
          <div class="main-header-content inner">
            <h1 class="page-title">{{ page.title }}</h1>
          </div>
        </div>
      </header>

      <main class="content" role="main">

      {% for post in page.posts %}

      <article class="post">
        <header class="post-header">
          <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        </header>
        <section class="post-excerpt">
          <p>{{ post.excerpt }} <a class="read-more" href="{{ post.url }}">&raquo;</a></p>
        </section>
        <footer class="post-meta">
          <img class="author-thumb" src="https://s.gravatar.com/avatar/ce15da66a37ccd143de83061f68f90c1?d=404&amp;s=250" alt="Author image" nopin="nopin" />
          <a href="#">Hauke</a> in
          {% for tag in post.tags %}
          <a href="/tag/{{ tag }}/">{{ tag }}</a>{% if tag != page.tags.last %}, {% endif %}
          {% endfor %}
          <time class="post-date" datetime="{{ post.date | date_to_xmlschema }}" }}">{{ post.date | date: "%d.%B %Y"  }}</time>
        </footer>
      </article>

      {% endfor %]

    </main>

    {% include footer.html %}
  </body>
</html>
