<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>{{ page.title }}</title>
  <meta name="description" content="" />

  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="/favicon.ico">

  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />

  <script src="https://use.fontawesome.com/71afee61e5.js"></script>

  <link rel="canonical" href="/{{ page.url }}" />
  <meta name="referrer" content="origin" />

  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="&quot;{{ page.excerpt }}...." />
  <meta property="og:url" content="/{{ page.url }}" />
  <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
  <meta property="article:modified_time" content="{{ page.date | date_to_xmlschema }}" />
  {% for tag in page.tags %}
  <meta property="article:tag" content="{{ tag }}" />
  {% endfor %}

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta name="twitter:description" content="&quot;Herzlichen Glückwunsch! Du bist jetzt Product Manager!  Ach ja, wir setzen hier das Scaled Agile Framework (SAFe) ein, Product Manager ist da ein bisschen anders als Du es vielleicht im klassischen Sinn kennst. Macht ja nix, geh mal auf scaledagile...." />
  <meta name="twitter:url" content="/{{ page.url }}" />

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Article",
      "publisher": "{{ site.title }}",
      "author": {
        "@type": "Person",
        "name": "Hauke",
        "image": "https://s.gravatar.com/avatar/ce15da66a37ccd143de83061f68f90c1?d=404&s=250",
        "url": "http://www.h-dawg.de/author/hauke",
        "sameAs": "http://www.h-dawg.de",
        "description": null
      },
      "headline": "{{ page.title }}",
      "url": "{{ site.url }}/{{ page.url }}",
      "datePublished": "{{ page.date | date_to_xmlschema }}",
      "dateModified": "{{ page.date | date_to_xmlschema }}",
      "keywords": "{{ page.tags | array_to_sentence_string }}",
      "description": "{{ page.excerpt }}...."
    }
  </script>
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/rss/" />
</head>

<body>
  {% include social-links.html %}

  <header class="main-header post-head no-cover">
    <nav class="main-nav  clearfix">
      <a class="back-button" href="/"><i class="fa fa-chevron-left"></i>&nbsp;Home</a>
      <a class="subscribe-button" href="/rss/"><i class="fa fa-rss"></i>&nbsp;Abonnieren</a>
    </nav>
  </header>

  <main class="content" role="main">

    <article class="post">

      <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <section class="post-meta">
          <time class="post-date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time> in
          {% for tag in page.tags %}
          <a href="/tag/{{ tag }}/">{{ tag }}</a>{% if tag != page.tags.last %}, {% endif %}
          {% endfor %}
        </section>
      </header>
      <br>
      <section class="post-content">
        {{ content }}
      </section>

      <footer class="post-footer">

        <figure class="author-image">
          <a class="img" href="#" style="background-image: url(https://s.gravatar.com/avatar/ce15da66a37ccd143de83061f68f90c1?d=404&amp;s=250)"><span class="hidden">Hauke's Picture</span></a>
        </figure>

        <section class="author">
          <h4>Hauke</h4>
          <p></p>
          <div class="author-meta">
            <span class="author-location"><i class="fa fa-map-marker"></i>&nbsp;Dorsten, Germany</span>
            <span class="author-link"><a href="/"><i class="fa fa-external-link"></i>&nbsp;{{ site.url }}</a></span>
          </div>
        </section>

        <section class="share">
          <h4>Teilen</h4>
          <a href="https://twitter.com/share?text={{ page.title  | uri_escape }}&amp;url={{ site.url }}/{{ page.url }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
            <i class="fa fa-twitter fa-lg"></i><span class="hidden">Twitter</span>
          </a>
          <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}/{{ page.url }}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
            <i class="fa fa-facebook-official fa-lg"></i><span class="hidden">Facebook</span>
          </a>
          <a href="https://plus.google.com/share?url={{ site.url }}/{{ page.url }}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
            <i class="fa fa-google-plus-square fa-lg"></i><span class="hidden">Google+</span>
          </a>
        </section>

      </footer>

      {% include disqus.html %}

    </article>

  </main>

  {% include footer.html %}

</body>

</html>

